
@media only screen and (max-width: 600px) { 
    .nav-phone{
        background-color: beige;
        color: black;
        padding: 12px;
        font-size: 16px;
        border: none;
    }
    .navigation-phone{
        position: relative;
        display: inline-block;
    }
    .navigation-phone-dropdown{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .navigation-phone-dropdown a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .navigation-phone-dropdown a:hover{background-color: #ddd;}

    .navigation-phone:hover .navigation-phone-dropdown{display: block;}

    .navigation-phone:hover .nav-phone{background-color: lightgoldenrodyellow;}
}

@media only screen and (min-width: 600px) and (max-width: 960px) {

}
@media only screen and (min-width: 960px)  { 
}


 /* home page */





/* Accessibility page */


/* Reflection page */

/* Reflection mobile*/
@media only screen and (max-width: 600px) { 



}

/* Reflection laptop*/
@media only screen and (min-width: 600px) and (max-width: 960px) {
}
@media only screen and (min-width: 960px)  { 
}

#reflection{
    margin-left: 1em;
    margin-right: 1em;
    background-color:rgba(193, 194, 184, 0.411);
    padding: 1em;
    font-size: larger;
}
#reflection > h1{
    letter-spacing: 0.3em;
}
#general{
    text-align: justify;
    font-size: 1em;
}
#background{
    text-align: center;
    font-size: 1em;
}
img{
    vertical-align: middle;
    width: 150px;
}
.text{
    border: 2px solid blue;
    background-color: rgba(227, 228, 194, 0.452);
    display: inline-block;
    font-size: 1.2em;
    padding: 1em;
}


#java{
    border: 3px solid red;
}

#java > #imgJavaLearn{   
    border: 2px solid blue;
    float: left;
    padding: 0.5em;
}
#textJAVA{
    border: 2px solid rgba(227, 228, 194, 0.452);

    height: 150px;
}


#html{
    border: 3px solid red;
}
#html > #imgHtmlLearn{
    border: 2px solid blue;
    float: left;
    padding: 0.5em;
}
#textHTML{
    border: 2px solid rgba(227, 228, 194, 0.452);

    height: 150px;
}





 /* Tropical page */



/* Fun page */
#fun{
    background:ivory;
}
#fun header{
    /*til senere*/
    color: #000;
}
#fun main{
    color: #000;
    font-family: sans-serif;
    font-style:italic;
}

#fun ol{
    /*til senere*/
    color: #000;
}
