
@media only screen and (max-width: 600px) { 

/* Mobile*/
/* home page */
    header{
        position: relative;
        text-align: center;
        color: white;
        height: auto;
    }
    img.header-phone1{
        position: relative;
        max-width: 100%;
    }
    .navigation-phone{
        position: absolute;
        left: 2vw;
        bottom: 3vw;
    }
    .header-phone{
        position: absolute;
        bottom: -1vw;
        margin-left: 20vw;
    }
    .nav-phone{
        background-color: beige;
        color: black;
        padding: 12px;
        font-size: 16px;
        border: none;
    }
    .navigation-phone-dropdown{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .navigation-phone-dropdown a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .navigation-phone-dropdown a:hover{
        background-color: #ddd;}

    .navigation-phone:hover .navigation-phone-dropdown{
        display: block;}

    .navigation-phone:hover .nav-phone{
        background-color: lightgoldenrodyellow;}

    .navigation-comp{
        display: none;
    }
    img.header-img{
        display: none;
    }
    .header1{
        display: none;
    }
    hr.footer{
        clear: both;
    }
    footer{
        border-top: black thick;
        text-align: center;
        font-size: x-large;
        font-style: italic;
        clear: both;
    }

/* HomePage */

    .bilder {
        display: none;
    }
    .bildegalleri-home{
        max-width: 50vw;
        position: relative;
        margin: 15vh 25vw 20vh 25vw;
    }
    .bildegalleri-tekst{
        padding: 16px;
        margin-left: -2.5vw;
        text-align: center;
        position: absolute;
        background-color: lightgrey;
        color: black;
    }
    .bilder img{
        max-width: 45vw;
        max-height: 45vw;
    }
    .active {
    background-color: #717171;
    }

    h1.home{
        text-align: center;
        letter-spacing: 0.3rem;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }
    p.home{
        text-align: center;
        width: 80vw;
        margin-left: 10vw;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }
    li.home{
        width: 60vw;
        margin-left: 25vw;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }


    
/* Reflection mobile 600px*/
    #reflection{
        background-color: white;
        margin: 1em;
        padding: 0em;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma; 
        line-height: 1.5;
    }
    #reflection > div{
        padding: 1em;
    }
    
/* Overall reflection page */ 
    #reflection > h1{
        letter-spacing: 0.3em;
    } 

/* General text */ 
    #general{
        background-color: #ffe852;
        text-align: left;
        font-size: 1.3em;
    }
    hr{
        border: 0.1em solid black;
        border-radius: 5px;
    }
    .logo{
        width: 100px;
        float: right;
        transition: width 2s;
        transition-timing-function: ease;
    }
    .logo:hover{
        width: 150px;
    }
    #background{
        background-color: #ffe852;
        text-align: left;
        font-size: 1em;
    }

/* JAVA */ 
    #java{
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        background-color: #288ccf65;
        text-align: right;
        height: 46em;
    }
    #java > #bilder > #imgJavaLearn{   
        border-radius: 25px;
        float: center;
        padding: 0.5em;
        width: 250px;
        height: 250px;
    }
    #textJAVA{
        height: 250px;
        text-align: right;
        font-size: 1.3em;
    }
    #javaLearn{
        vertical-align: middle;
    }
    #imgJavaLearn{
        display: flex;
        flex-basis: auto;
        line-height: 1em;
        float: none;
    }
    #textJAVA, #textHTML{
        text-align: left;
    }

/* HTMLC & CSS */ 

    #html{
        background-color: #60a6d4;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        height: 44em;
    }

    #html >  #bilder >#imgHtmlLearn{
        text-align: left;
    }
    #html > #bilder > #imgHtmlLearn{
        border-radius: 25px;
        float: center;
        padding: 0.5em;
        width: 250px;
        height: 250px;
    }
    #imgHtmlLearn{
        display: flex;
        flex-basis: auto;
        line-height: 1em;
        float: none;
    }
    #htmlLearn{
        vertical-align: middle;
    }
    #textHTML{
        height: 250px; 
        text-align: left;
        font-size: 1.3em;
    }

/* Accessibility page */
/* Skjermstørrelse Minst 
(maxt width 600px) */

    #accessibility{
        margin: 1em;
        padding: 0em;
        background-color:  white;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }

    #accessibility > h1{
        letter-spacing: 0.3em;
    } 

    #accessibility > div > img{
        border-radius: 25px;
        margin: 1em;
        height: 9em;
        width: 18em;
    }
    #accessibility > div{
        padding: 1em;
        gap: 1em;
        line-height: 1.5;
    }

    #accessibilityIntro{
        background-color: #ffe852;
        height: auto;
        padding: 0em;
    }

    /* Intro link styling */
    #accessibilityIntro a:link{
        color: #0f3e5e;
        text-decoration: none;
    }
    #accessibilityIntro a:hover{
        text-decoration: underline;
        font-size: 1.1em;
    }
    #accessibilityIntro a:visited{
        color: #0f3e5e;
    }

    /* Different  divs */ 
    #textAccessibility{
        background-color: #288ccf65;
    }
    #textValidated{
        background-color: #60a6d4;
    }
    #codingChoises{
        background-color: #288ccf65;
    }
    #accessibility > div:last-of-type{
        background-color: #ffe852;
    }


/* Accessibility page  GRID*/
/* Skjermstørrelse Minst 
    (maxt width 600px)  */

/* Vises ikke på liten skjerm*/
   
    .grid-container { 
        display: none;
    }

/* Topical- mobile */
    .links-topical:link {
        text-decoration: none;
    }

    .links-topical:hover {
        background-color: white;
        text-decoration: underline;
    }

    .figcaption:hover {
        background-color: white;
        text-decoration: underline; 
    }

    .links-topical:active {
        background-color: lightpink;
    }

    .h1-topical {
        font-style: italic;
        text-align: center;
        font-family: Verdana, sans-serif, Geneva, Tahoma;
    }
    .h2-topical {
    font-size: 20px;
    text-align: center;
    }

    .h3-topical {
        font-size: 15px;
    }

    .paragh-intro {
        font-size: 15px;
    }

    .paragh-intro-card {
        border-style: ridge;
        border-color: darkgoldenrod;
        margin: 4em;
        line-height: 1.5;
        font-family: sans-serif;
        padding: 2em;
        margin: 0;
        
    }

    .paragh-intro-card:hover {
        box-shadow: 0 4px 14px 0 darkgoldenrod;
    }

    .reflection-task-card1 {
        box-shadow: 0 3px 5px 0 darkgoldenrod;
        border-radius: 6px 6px 0 0;
        width: 300px;
        margin: 2em;
        padding: 25px;
    }

    .reflection-task-card2 {
        box-shadow: 0 3px 5px 0 darkgoldenrod;
        border-radius: 6px 6px 0 0;
        width: 300px;
        margin: 2em;
        padding: 25px;
   }

   .task-introduction {
       text-align: left;
       font-size: 20px;
       font-style: italic;
   }

   .task.task-paragh {
       text-align: left;
       font-size: 25px;
       line-height: 1.5;
       letter-spacing: 2px;
       font-family: sans-serif, Verdana, Geneva, Tahoma;
   }

   .task-paragh::first-letter {
    font-size: 200%;
    color: goldenrod;
    font-style: italic;
  }

 .figcaptions{
    text-align: center;
    font-size: 15px;
    font-style: italic;
 }
 

/* Bilder til topical page - Phone*/   
.container-topical img{
    height: auto;
    width: 150px;
    display: auto;
    margin: 0px auto;
  }
  
}


/* Mellomste skjerm */
@media only screen and (min-width: 600px) and (max-width: 960px) {

/* General header*/
    header{
        position: relative;
        text-align: center;
        color: white;
        height: auto;
    }
    .navigation-phone{
        display: none;
    }
    img.header-phone1{
        display: none;
    }
    .header-phone{
        display: none;
    }
    img.header-img{
        position: relative;
        max-width: 100%;
    }
    .header1{
        position: absolute;
        bottom: 2vw;
        left: 35vw;
    }
    .navigation-comp{
        background-color: beige;
    }
    .navigation-comp a{
        color: black;
        padding: 2vw;
        text-align: center;
        font-size: x-large;
    }
    hr.footer{
        clear: both;
    }
    footer{
        border-top: black thick;
        margin-top: 2vw;
        text-align: center;
        font-size: x-large;
        font-style: italic;
        clear: both;
    }


/* HomePage */

    .bilder {
        display: none;
    }
    .bildegalleri-home{
        max-width: 50vw;
        position: relative;
        margin: 15vh 25vw 20vh 25vw;
    }
    .bildegalleri-tekst{
        padding: 16px;
        margin-left: 2.5vw;
        text-align: center;
        position: absolute;
        background-color: lightgrey;
        color: black;
    }
    .bilder img{
        max-width: 45vw;
        max-height: 45vw;
    }
    .active {
        background-color: #717171;
    }
    h1.home{
        text-align: center;
        letter-spacing: 0.3rem;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }
    p.home{
        text-align: center;
        width: 70vw;
        margin-left: 15vw;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }
    li.home{
        width: 50vw;
        margin-left: 30vw;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }



/* Reflection */
/* Skjermstørrelse Minst (min 600px max 960px) */

/* Overall reflection page */ 
    #reflection{        
        background-color: white;
        margin: 1em;
        padding: 0em;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma; 
        line-height: 1.5;
    }
    #reflection > div{
        padding: 1em;
    }    
    #reflection > h1{
        letter-spacing: 0.3em;
    } 

/* General text */ 
    #general{
        background-color: #ffe852;
        text-align: left;
        font-size: 1em;
    }
    hr{
        border: 0.1em solid black;
        border-radius: 5px;
    }
    .logo{
        width: 100px;
        float: right;
        transition: width 2s;
        transition-timing-function: ease;
    }
    .logo:hover{
        width: 150px;
    }
    #background{
        background-color: #ffe852;
        text-align: left;
        font-size: 1em;
    }
/* JAVA */ 
    #java{
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        background-color: #288ccf65;
        padding: 0em;
    }
    #java > #bilder > #imgJavaLearn{   
        border-radius: 25px;
        float: left;
        padding: 0.5em;
        width: 200px;
        height: 200px;
        transition: 2s; 
        transition-timing-function: ease;
    }
    #java > #bilder > #imgJavaLearn:hover{
        width: 220px;
        height: 220px;
    }
    #textJAVA{
        height: 170px;
        text-align: left;
        font-size: 1.3em;
        padding: 2em;
    }
    #javaLearn{
        vertical-align: middle;
    }
/* JAVA images */
    #imgJavaLearn{
        display: flex;
        flex-basis: auto;
        line-height: 1em;
        float: none;
    }
    #bilder{
        display: flex;
        flex-basis: auto;
        line-height: 1em;
        height: 200px;
    }
    #java > #bilder > #imgJavaLearn{
        height: 170px;
        transition: 2s; 
        transition-timing-function: ease;
    }
    #java > #bilder > #imgJavaLearn:hover{
        width: 200px;
        height: 200x;
    }
    #textJAVA, #textHTML{
        text-align: left;
    }


/* HTMLC & CSS */ 
    #html{
        background-color: #60a6d4;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        padding: 0em;
    }

    #html >  #bilder >#imgHtmlLearn{
        text-align: center;
        border-radius: 25px;
        float: center;
        padding: 0.5em;
        width: 200px;
        height: 200px;
    }
    #imgHtmlLearn{
        display: flex;
        flex-basis: auto;
        line-height: 1em;
        float: none;
    }

    #htmlLearn{
        vertical-align: middle;
    }
    #textHTML{
        text-align: left;
        padding: 2em;
        text-align: center;
    }
    #textHTML{
        height: 130px;
        text-align: left;
        font-size: 1.3em;
        padding: 2em;
    }


/* Accessibility page */
/* Skjermstørrelse Mellomst (min 600px max 960px) */

/* Overall accessibility page */
    #accessibility{
        width: 90%;
        margin: 1em;
        background-color:  white;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }
    #accessibility > h1{
        letter-spacing: 0.3em;
    } 

/* Vises ikke på mellomste skjerm */
    #accessibility > div > img{
        display: none;
    }
    #accessibility > div{
        padding: 1em;
    }
    #accessibilityIntro{
        display: none;
    }  
    #textAccessibility{
        display: none;
    }
    #textValidated{
        display: none;
    }

    #codingChoises{
        display: none;
    }
    #accessibility > div:last-of-type{
        display: none;
    }
/* Accessibility page  GRID
Skjermstørrelse Mellomst (min 600px max 960px)
Styler innholdet i grid'en*/

/* Innhold */
/* Intro */
    .item1 { 
        grid-area: h; 
        border: 4px solid #ffe852; 
        background-color: #ffe852;    
        height: 7em;
        text-align: center;
        padding: 2em;
        line-height: 1.5;
    }
    .item1 a:link{
        color: #0f3e5e;
        text-decoration: none;
    }
    .item1 a:hover{
        text-decoration: underline;
        font-size: 1.1em;
    }
    .item1 a:visited{
        color: #0f3e5e;
    }   

/* General */
    .item2 { 
        grid-area: text1; 
        background-color: #288ccf65;  
        align-items: center;
        padding: 2em;
        line-height: 1.5;
    }
    .item3 { 
        grid-area: bilde1; 
        border: 4px solid #60a6d4; 
        background-color: #60a6d4; 
        padding: 1em;
    }
    .item3 img{
        margin-top: 5px; 
        margin-bottom: 5px;
    }


/* Checked and validated code */
    .item4 { 
        grid-area: text2; 
        background-color: #288ccf65;  
        padding: 1em;
        line-height: 1.5;
    }
    .item5 { 
        grid-area: bilde2; 
        border: 4px solid #60a6d4; 
        background-color: #60a6d4; 
        padding: 1em;
    }
    .item5 img{
        margin-top: 30px; 
        margin-bottom: 30px;
    }

/* Coding choises made */
    .item6{
        grid-area: tekst;
        background-color: #288ccf65; 
        padding: 1em;
        line-height: 1.5;
    }

/* Coding choises made */
    .item7 { 
        grid-area: f;
        background-color: #ffe852;  
        padding: 1em;
        line-height: 1.5;
    }
    .item7 img{
        height: 10em;
        border-radius: 25px;
    }

    .grid-container { 
        grid-gap: 5px;
        background-color: white;
        border: 2px solid white;
        grid-template-rows: auto;
        display: grid;
        font-size: medium;
        grid-template-areas: 
            ". h h ."
            ". text1 bilde1 ." /* General*/
            ". text1 bilde1 ."
            ". bilde2 text2 ." /* Checked, validated code*/
            ". bilde2 text2 ."
            ". tekst tekst ." /* Code choises for univesal design */
            ". f f ."; /* Conclution */
    }
    #grid-img{
        height: 8em;
        width: 14em;   
        border-radius: 25px;   
    }

    .grid-inline-container{
        display: inline-grid;
    }
    .start {
        align-items: start;
    }
    .end {
        align-items: end;
    }
    .center {
        align-items: center;
    }
    .stretch {
        align-items: stretch
    }




/* Topical page */
    .links-topical:link {
        text-decoration: none;
    }

    .links-topical:hover {
        background-color: white;
        text-decoration: underline;
    }

    .figcaption:hover {
        background-color: white;
        text-decoration: underline; 
    }

    .links-topical:active {
        background-color: lightpink;
    }
    .h1-topical {
        font-size: 4em;
        font-family: Verdana, sans-serif, Geneva, Tahoma;
        text-align: center;
        margin-top: 70px; 
    }
    .h2-topical {
        font-size: 3em;
        font-family: Verdana, sans-serif, Geneva, Tahoma;
        text-align: center;
        margin-top: 100px;
    }

    .h3-topical {
        font-size: 30px;
    }

    .paragh-intro {
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    .paragh-intro-card {
        box-shadow: 0 3px 8px 0 black;
        width: 80%;
        margin-left:3.5%;
        text-align: right;
        padding: 3em;
        background-color: #faedcd;
    }

    .paragh-intro-card:hover {
        box-shadow: 0 4px 14px 0;
    }

    .container-topical{
        height: auto;
        overflow: hidden;
    }
    .reflection-task-card1 {
        box-shadow: 0 3px 5px 0 black;
        border-radius: 6px 6px 0 0;
        width: 35%;
        padding: 30px;
        margin-left: 4%;
        display: inline;
        float: left;
        padding-bottom: 100%;
        margin-bottom: -100%;
        background-image: linear-gradient(180deg, beige, white, brown );
    }

    .reflection-task-card2 {
        box-shadow: 0 3px 5px 0 black;
        border-radius: 6px 6px 0 0;
        width: 35%;
        margin-right: 3%;
        padding: 30px;
        vertical-align: top;
        display: inline;
        float:right;
        padding-bottom: 100%;
        margin-bottom: -100%;
        background-image: linear-gradient(180deg, beige, white, brown );
    }

    .task-introduction {
        text-align:left;
        font-size: 1em;
        font-style: italic;
    }

    .task-paragh {
        text-align: left;
        font-size: 1em;
        letter-spacing: 1px;
    }

    .task-paragh::first-letter {
        font-size: 200%;
        color: #8A2BE2;
        font-style: italic;
    }

    .task-conclusion {
        font-size: 1em;
    }

    .figcaptions{
        text-align: center;
        font-size: 1em;
        font-style: italic;
    }

/* Bilder til topical page */ 

    .container-topical img{
        height: 100px;
        width: auto;
        display: auto;
        margin: 0px auto;
    }
    
}





/* Stor-skjerm */

@media only screen and (min-width: 960px)  { 

    header{
        position: relative;
        text-align: center;
        color: white;
        height: auto;
    }
    .navigation-phone{
        display: none;
    }
    img.header-phone1{
        display: none;
    }
    .header-phone{
        display: none;
    }
    img.header-img{
        width: 100%;
        object-fit: cover;
    }
    .header1{
        position: absolute;
        bottom: 2vw;
        left: 40vw;
        
    }
    .navigation-comp{
        width: 95vw;
        background-color: beige;
    }
    .navigation-comp a{
        color: black;
        text-align: center;
        padding: 0 5vw 0 5vw;
        font-size: x-large;
    }
    hr.footer{
        clear: both;
        margin-top: 2%;
    }
    footer{
        box-sizing: border-box;
        border-top: black thick;
        margin: 2.5% 0 2.5% 0;
        text-align: center;
        font-size: x-large;
        font-style: italic;
    }

    /* HomePage */

    .bilder {
        display: none;
    }
    .bildegalleri-home{
        max-width: 50vw;
        position: relative;
        margin: 15vh 25vw 20vh 25vw;
        text-align: center;
    }
    .bildegalleri-tekst{
        padding: 16px;
        position: absolute;
        background-color: lightgrey;
        color: black;
        text-align: center;
    }
    .bilder img{
        max-width: 60vw;
        max-height: 60vw;
    }
    .active {
        background-color: #717171;
    }

    h1.home{
        text-align: center;
        letter-spacing: 0.3rem;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }
    p.home{
        text-align: center;
        width: 50vw;
        margin-left: 25vw;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }
    li.home{
        width: 40vw;
        margin-left: 35vw;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }





/* Reflection page */

    #reflection{        
        width: 90%;
        margin: 2em;
        background-color: white;
        padding: 1em;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
        line-height: 1.5;
    }
    #reflection > div{
        padding: 1em;
    }

/* Overall reflection page */ 
    #reflection > h1{
        letter-spacing: 0.3em;
    } 

/* General text */ 
    #general{
        background-color: #ffe852;
        text-align: left;
        font-size: 1em;
    }
    hr{
        border: 0.1em solid black;
        border-radius: 5px;
    }
    .logo{
        width: 100px;
        float: right;
        transition: width 2s;
        transition-timing-function: ease;
    }
    .logo:hover{
        width: 150px;
    }

    #background{
        background-color: #ffe852;
        text-align: left;
        font-size: 1em;
    }


/* JAVA */ 
    
    #java{
        background-color: #288ccf65;
        text-align: right;
        height: 20em;
    }

    #java > #bilder > #imgJavaLearn{   
        border-radius: 25px;
        float: left;
        padding: 0.5em;
        width: 250px;
        height: 250px;
        transition: 2s; 
        transition-timing-function: ease;
    }

    #java > #bilder > #imgJavaLearn:hover{
        width: 300px;
        height: 300px;
    }
    #textJAVA{
        height: 250px;
        text-align: right;
        font-size: 1.3em;
    }

    #javaLearn{
        vertical-align: middle;
    }

    
/* HTMLC & CSS */ 

    #html{
        background-color: #60a6d4;
        text-align: left;
        height: 17em;
    }
    #html >  #bilder >#imgHtmlLearn{
        text-align: left;
    }
    #html > #bilder > #imgHtmlLearn{
        border-radius: 25px;
        float: right;
        padding: 0.5em;
        width: 250px;
        height: 250px;
    }

    #htmlLearn{
        vertical-align: middle;
    }
    #textHTML{
        height: 250px; 
        text-align: left;
        font-size: 1.3em;
    }




/* Accessibility page  GRID */
/* Skjermstørrelse Størst  */

/* Styler innholdet i grid'en*/

/* Intro */
    .item1 { 
        grid-area: h; 
        border: 4px solid #ffe852; 
        background-color: #ffe852;
        height: 4em;
        text-align: center;
        padding: 2em;
    }

    .item1 a:link{
        color: #0f3e5e;
        text-decoration: none;
    }
        
    .item1 a:hover{
        text-decoration: underline;
        font-size: 1.1em;
    }
    .item1 a:visited{
        color: #0f3e5e;
    }   

    .item2 { 
        grid-area: text1; 
        background-color: #288ccf65;    
        align-items: center;
        padding: 2em;
        line-height: 1.5;
    }

/* General  */
    .item3 { 
        grid-area: bilde1; 
        border: 4px solid #60a6d4; 
        background-color: #60a6d4; 
        padding: 1em;
    }

/* Checked and validated code */
    .item4 { 
        grid-area: text2; 
        background-color: #288ccf65; 
        padding: 1em;
        line-height: 1.5;
    }
    .item5 { 
        grid-area: bilde2; 
        border: 4px solid #60a6d4; 
        background-color: #60a6d4; 
        padding: 1em;
    }
    .item5 img{
        margin-top: 10px; 
        margin-bottom: 10px;
    }

/* Coding choises made */
    .item6{
        grid-area: tekst;
        background-color: #288ccf65; 
        padding: 1em;
        line-height: 1.5;
    }

/* Coding choises made */
    .item7 { 
        grid-area: f; 
        border: 4px solid #ffe852; 
        background-color: #ffe852;
        border: 4px solid #ffe852;
        padding: 1em;
        line-height: 1;
    }
    .item7 img{
        height: 10em;
        border-radius: 25px;
    }

    .grid-container { 
        grid-gap: 0.5em;
        background-color: white;
        grid-template-rows: auto;
        border: 2px solid white;
        display: grid;
        grid-template-areas: 
        ". h h ."
        ". text1 bilde1 ." /* General*/
        ". text1 bilde1 ."
        ". bilde2 text2 ." /* Checked, validated code*/
        ". bilde2 text2 ."
        ". tekst tekst ." /* Code choises for univesal design */
        ". f f ."; /* Conclution */
    }
    #grid-container > .class{
        padding: 1em;
    }
    #grid-img{
        height: 12em;
        width: 20em;
        border-radius: 25px;   
    }

    .grid-inline-container{
        display: inline-grid;
        
    }
    .start {
        align-items: start;
    }
    .end {
        align-items: end;
    }
    .center {
        align-items: center;
    }
    .stretch {
        align-items: stretch
    }



/* Accessibility page */

    #accessibility{
        width: 90%;
        margin: 2em;
        background-color:  white;
        padding: 1em;
        font-size: larger;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
    }
    #accessibility > h1{
        letter-spacing: 0.3em;
        
    } 
    #accessibility > div > img{
        display: none;
    }

    #accessibility > div{
        padding: 1em;
    }
    #accessibilityIntro{
        display: none;
    }
    #textAccessibility{
        display: none;
    }
    #textValidated{
        display: none;
    }
    #codingChoises{
        display: none;
    }
    #accessibility > div:last-of-type{
        display: none;
    }

/* Topical page */

    .links-topical:link {
        text-decoration: none;
    }

    .links-topical:active {
        background-color: lightpink;
    }
    .links-topical:hover {
        background-color: white;
        text-decoration: underline;
    }

    .figcaption:hover {
        background-color: white;
        text-decoration: underline; 
    }

    .h1-topical {
        font-size: 4em;
        font-family: Verdana, sans-serif, Geneva, Tahoma;
        text-align: center;
        margin-top: 70px; 
    }

    .h2-topical {
        font-size: 3em;
        font-family: Verdana, sans-serif, Geneva, Tahoma;
        text-align: center;
        font-size: 2em;
        letter-spacing: 1px;  
    }

    .links-topical:active {
        background-color: lightpink;
    }

    .links-topical:hover {
        background-color: white;
        text-decoration: underline;
    }

    .figcaption:hover {
      background-color: white;
      text-decoration: underline; 
    }

    .paragh-intro-card:hover {
      box-shadow: 0 4px 14px 0;
    }

    .figcaption:hover {
      background-color: white;
      text-decoration: underline; 
    }

    .paragh-intro-card {
       box-shadow: 0 3px 8px 0 black;
       width: 80%;
       margin-left:3.5%;
       text-align: right;
       padding: 5em;
      background-color: #faedcd;
    }

   .h2-topical {
     font-size: 3em;
     font-family: Verdana, sans-serif, Geneva, Tahoma;
     text-align: center;
     font-size: 2em;
     letter-spacing: 1px;  
   }

    .paragh-intro-card:hover {
     box-shadow: 0 4px 14px 0;
    }

    .container-topical {
        height: auto;
        overflow: hidden;
    }

    .reflection-task-card1 {
        box-shadow: 0 3px 5px 0 black;
        border-radius: 6px 6px 0 0;
        width: 40%;
        padding: 30px;
        margin-left: 3%;
        display: inline;
        float: left;
        padding-bottom: 100%;
        margin-bottom: -100%;
        background-image: linear-gradient(180deg, beige, brown);
    }

    .reflection-task-card2 {
        box-shadow: 0 3px 5px 0 black;
        border-radius: 6px 6px 0 0;
        width: 40%;
        margin-right: 3%;
        padding: 30px;
        vertical-align: top;
        display: inline;
        float:right;
        padding-bottom: 100%;
        margin-bottom: -100%;
        background-image: linear-gradient(180deg, beige, brown );
    }

    .paragh-intro {
        text-align: center;
        font-size: 2em;
        letter-spacing: 1px;    
    }

    .paragh-intro-card:hover {
        box-shadow: 0 4px 14px 0;
    }

    .task-introduction {
        text-align:left;
        font-size: 25px;
        font-style: italic;
    }

    .task-paragh {
        text-align: left;
        font-size: 25px;
        letter-spacing: 1px;
    }

    .task-paragh::first-letter {
        font-size: 200%;
        color: #8A2BE2;
        font-style: italic;
    }

    .task-conclusion {
        font-size: 25px;
    }

    .figcaptions {
        text-align: center;
        font-size: 20px;
        font-style: italic;
    }

    .task-conclusion {
        font-size: 25px;
    }

/* Bilder til topical page */   
    .container-topical img {
        height: 200px;
        width: auto;
        display: block;
        margin: 0px auto;
    }

}






/* Fun page */
    #fun{
        background: #c3daff;
    }

    #fun main{
        min-width: 240px;
        padding:1em;
        text-align: center;
        margin: 7%;
        border-radius: 40px;
        border-style: solid;
        background:#7f8ea7;
        color: #000;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    }

    #fun ol{
        padding: 1em;
        background: #c3daff;
        border-radius: 30px;
        border-style:solid;
        font-size: 14pt;
        color: #000;
    }

    #fun li{
        background:#dbb169;
        margin: 1em;
        padding:0.5em;
        border-radius: 20px;
        border-style: solid;
        box-shadow: 0 0 10px 3px black;
        
    }

    #funbilder{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;    
        border-style: solid;
        border-radius:20px;
        padding: 1em;
        background-color: #c3daff;
    }

    #funbilder img{
        border-style:groove;
        box-shadow: 0 0 10px 3px black;
        border-radius: 10px;
        border-color:#dbb169 ;
        height: auto;
    }


